body {
    font-size: 25px;
    background-color: orange;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

button{
    font-size: 1.5rem;     
    padding: 10px 30px;  
    border-radius: 5px; 
    border-color: white;
    border-style: solid;
    cursor: pointer;
    transition: 0.2s;
    margin-top: 8px;
    background-color: orange;
    color: white;
}
